*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--bg-body);
}


:root{
    --bg-body:#000;

    --bg-face-color: #ffe9dc;
    --bg-face2-color: #b49079;
    --bg-face3-color: #b49079;

    --bg-hair-color: #fbc127;
    --bg-hair2-color: #d4811b;
    --bg-hair3-color: #fffcc8;

    --bg-shadow-color: yellow;
    --bg-e-color: #468e54;
}

.parent{
    width: 400px;
    height: 400px;;
    margin: auto;
    margin-top: 600px;
    position: relative;
}

.face{
    margin: auto; 
    width: 220px;
    position: relative;
    margin-top: -5px;
}

.f1{
    width: 80px;
    height: 130px;
    z-index: 10;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    transform: skewX(15deg)skewY(45deg);
    position: absolute;
    border-radius: 10px;
    left: 0px;
    background-color: var(--bg-face-color);
    border-bottom-right-radius: 31px;
}

.f2{
    width: 80px;
    height: 130px;
    z-index: 10;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    transform: skewX(-15deg)skewY(-46deg);
    position: absolute;
    border-radius: 10px;
    right: 0px;
    background-color: var(--bg-face-color);
    border-bottom-left-radius: 27px;
}

.f3{
    width:  190px;
    height: 200px;
    z-index: 10;
    background-color: var(--bg-face-color);
    border-radius: 50%;
    margin: auto;
    position: relative;
    top: -60px;
}

.f4{
    width: 30px;
    height: 20px;
    z-index: 10;
    background-color: var(--bg-face-color);
    margin: auto;
    position: relative;
    bottom: 66px;
    left:-3px;
    border-bottom: 2px solid black;
    transform: rotate(7deg);
    border-radius: 10%;
}

.f5{
    width: 250px;
    height: 150px; 
    z-index: 9;
    background-color: var(--bg-face-color);
    border-radius: 50%;
    position: absolute;
    top: -110px;
    left: -25px;
}

/************************************/

.W1, .W2{
    width: 50px;
    height: 50px;
    z-index: 9;
    border: 2px solid black;
    position: absolute;
    background-color: var(--bg-face-color);
    top: -20px;
    left: -49px;
    transform: rotate(36deg)skewx(40deg);
    border-top-left-radius: 40%;
    border-bottom-left-radius: 45%;
    border-bottom-right-radius: 22%;
}

.W2{
    top: -24px;
    left: 220px;
    transform: rotateX(0deg)rotateY(-180deg) rotateZ(35deg) skewx(40deg);
}

.W1 > div:nth-child(1), .W2 > div:nth-child(1){
    width: 4px;
    height: 13px;
    z-index: 1;
    border-left: 2px solid black;
    border-radius: 50%;
    position: absolute;
    top: 7px;
    left: 7px;
    transform: rotate(1deg) skewX(-5deg);
    background-color: var (--bg-face2-color);
}

.W1 > div:nth-child(2), .W2 > div:nth-child(2){
    width: 25px;
    height: 35px;
    border-left: 2px solid black;
    border-top: 2px solid black;
    border-radius: 50%;
    position: absolute;
    top: 12px;
    left: 16px;
    transform: rotate(-75deg)skewX(2deg);
    background-color: var(--bg-face-color);
    border-top-right-radius: 0%;
}

.W1> div:nth-child(3), .W2 > div:nth-child(3){
    width: 7px;
    height: 7px;
    z-index: 1;
    border: 2px solid black;
    border-bottom: none;
    border-left: none;
    border-top-right-radius: 50%;
    position: absolute;
    top: 36.5px;
    left: 23px;
    transform: rotate(-33deg) skewX(0deg);
    background-color: var(--bg-face-color);
}

.W1 > div:nth-child(4), .W2 > div:nth-child(4){
    width: 8px; 
    height: 25px;
    z-index: 1;
    border: 2px solid black;
    border-radius: 50%;
    position: absolute;
    top: 24px;
    left: 25px;
    transform: rotate(-81deg)skewX(0deg);
    background-color: var(--bg-face2-color);
}

.W1 > div:nth-child(5), .W2 > div:nth-child(5){
    width: 15px;
    height: 30px;
    border-right: 2px solid black;
    border-top: 2px solid black;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 10px;
    transform: rotate(-20deg)skewX(2deg);
    background-color: var(--bg-face-color);
}

.W1 > div:nth-child(6), .W2 > div:nth-child(6){
    width: 18px;
    height: 8px;
    z-index: 2;
    border-top: 2px solid black;
    position: absolute;
    top: 19px;
    left: 8px;
    transform: rotate(-50deg)skewX(-35deg);
    border-top-left-radius: 50%;
}

.W1 > div:nth-child(7), .W2 > div:nth-child(7){
    width: 19px;
    height: 8px;
    z-index: 2;
    border-bottom: 2px solid black;
    position: absolute;
    top: 7px;
    left: 4px;
    transform: rotate(-50deg)skewX(-35deg);
    border-bottom-left-radius: 50%;
}
.W1 > div:nth-child(8), .W2 > div:nth-child(8){
    width: 4px;
    height: 4px;
    z-index: 2;
    position: absolute;
    top: 20px;
    left: 23px;
    border-radius: 50%;
    transform: rotate(-65deg)skewX(-35deg);
    background-color: black;
    box-shadow: -3px -1px 3px 2px var(--bg-face2-color);
}

.oeil1,.oeil2{
    width: 75px;
    height: 32px;
    background-color: white;
    position: absolute;
    border: 2px solid black;
    border-radius: 2px;
    left: 5px;
    top: -5px;
    transform: rotate(10deg)skewX(30deg);
    border-right: none;
    z-index: 100;
}

.oeil2{
    transform: rotateX(0deg) rotateY(-180deg) rotateZ(9deg) skewX(30deg);
    left: 135px;
}

.oeil1 > div:nth-child(1), .oeil2 > div:nth-child(1){
    width: 104px;
    height: 20px;
    background-color: var(--bg-hair-color);
    border: 2px solid black; border-radius: 4px;
    position: absolute;
    top: -5px;
    left: -8px;
    transform: rotate(18deg)skewX(-22deg);
    z-index: 20;
}

.oeil1 > div:nth-child(2), .oeil2 > div:nth-child(2){
    width: 102px;
    height: 25px;
    background-color: var(--bg-face-color);
    border-bottom: 2px solid black;
    border-radius: 30%;
    position: absolute;
    top: -20px;
    left: 1px;
    transform: rotate(29deg)skewX(-22deg); 
    z-index: 20;
}

.oeil1 > div:nth-child(3), .oeil2 > div:nth-child(3){
     
}

